<!-- dialogo-mayoria-edad.html -->
<div id="overAge" class="dialog-overlay" data-bind="visible: showDialog">
    <div class="dialog">
        <h1>¿Eres mayor de edad +18?</h1>
        <div class="buttons">
            <button class="over-btn btn-confirm" data-bind="click: confirmYes">Sí</button>
            <button class="over-btn btn-block" data-bind="click: confirmNo">No</button>
        </div>
        <p class="aviso">El abuso en el consumo de este producto puede ser nocivo para la salud.</pdiv>
    </div>
</div>
